<header>
  <div>
    <div class="header--absolute--btn__search">
      <div class="btn__search fw-600"></div>
    </div>
    <div class="header--content d-flex align-items-center justify-content-between">
      <div>
        <a class="logo-airbnb" href="https://www.airbnb.ru/rooms/5617399?guests=1&adults=1" ></a>
      </div>
      <div class="d-flex align-items-center">
        <button class="btn-client fw-600">Сдайте жильё</button>
        <button class="btn-language ms-1"></button>
        <button class="btn-sing-in ms-3" type="button" data-bs-toggle="collapse" data-bs-target="#sing-in" aria-expanded="false" aria-controls="sing-in"></button>
      </div>
      <!--        ===============   Registration and Login menu      ===============       -->
      <div class="block-sing-in collapse fs-17" id="sing-in">
        <ul>
          <li><a class="fw-600" href="#">Зарегестрироваться</a></li>
          <li><a href="#">Войти</a></li>
        </ul>
        <ul>
          <li><a href="#">Сдайте жильё</a></li>
          <li><a href="#">Организуйте впечатление</a></li>
          <li><a href="#">Помощь</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
