<!--        ===============   Main Block Header      ===============       -->
<header class="header">
  <div class="subheader">
    <div class="header__btn_search">
      <div class="btn_search fw-600"></div>
    </div>
    <div class="header__content d-flex align-items-center justify-content-between">
      <div>
        <a class="header__content_logo" href="https://www.airbnb.ru/rooms/5617399?guests=1&adults=1" ></a>
      </div>
      <div class="d-flex align-items-center">
        <button class="header__btn_client fw-600">Сдайте жильё</button>
        <button class="header__btn_language ms-1"></button>
        <button class="header__btn_sing-in ms-3" type="button" data-bs-toggle="collapse" data-bs-target="#sing-in" aria-expanded="false" aria-controls="sing-in"></button>
      </div>
      <!--        ===============   Registration and Login menu      ===============       -->
      <div class="block-sing-in collapse fs-17" id="sing-in">
        <ul>
          <li><a class="fw-600" href="#">Зарегестрироваться</a></li>
          <li><a href="#">Войти</a></li>
        </ul>
        <ul>
          <li><a href="#">Сдайте жильё</a></li>
          <li><a href="#">Организуйте впечатление</a></li>
          <li><a href="#">Помощь</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
<!--        ===============   Mini Block Header      ===============       -->
<header class="min__header br-b">
  <div class="d-flex align-items-center justify-content-between fw-600 px-4">
    <div class="d-flex">
      <div class="arrow-left">Жильё</div>
      <div class="dot"></div>
      <div>Airbnb</div>
    </div>
    <div class="d-flex">
      <div class="min__header_repost me-3"></div>
      <div class="min__header_save"></div>
    </div>
  </div>
</header>
