footer {
  width: 100%;
  position: relative;
  background-color: #f7f7f7;
}
.footer-block-1, .footer-block-2 {
  width: 100%;
  border-top: 1px solid #dddddd;
  position: relative;
}
.footer-block-1-1, .footer-block-2-1, .footer-block-3{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 80px;
}
.footer-block-3 {
  border-top: 1px solid #dddddd;
}
.footer-block-3 .dot:before {
  margin: 0 5px -2px 5px;
}
.footer-b3-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}

