<footer>
  <div class="footer-block-1">
    <div class="footer-block-1-1 my-5">
      <div class="fs-22 fw-600 mb-5">Посмотрите другие варианты в г. Uluwatu и поблизости</div>
      <div class="row">
        <div class="col-xl-3 col-md-6 text-black-50 fs-16 mb-3">Canggu Beach</div>
        <div class="col-xl-3 col-md-6 text-black-50 fs-16 mb-3">Seminyak Beach</div>
        <div class="col-xl-3 col-md-6 text-black-50 fs-16 mb-3">Остров Ломбок</div>
        <div class="col-xl-3 col-md-6 text-black-50 fs-16 mb-3">Денпасар</div>
      </div>
      <div class="row">
        <div class="col-xl-3 col-md-6 text-black-50 fs-16 mb-3">Sanur</div>
        <div class="col-xl-3 col-md-6 text-black-50 fs-16 mb-3">Penida Island</div>
        <div class="col-xl-3 col-md-6 text-black-50 fs-16 mb-3">Гили Траванган</div>
        <div class="col-xl-3 col-md-6 text-black-50 fs-16 mb-3">Bingin Beach</div>
      </div>
      <div class="row">
        <div class="col-xl-3 col-md-6 text-black-50 fs-16 mb-3">Canggu Beach</div>
        <div class="col-xl-3 col-md-6 text-black-50 fs-16 mb-3">Seminyak Beach</div>
        <div class="col-xl-3 col-md-6 text-black-50 fs-16 mb-3">Остров Ломбок</div>
        <div class="col-xl-3 col-md-6 text-black-50 fs-16 mb-3">Денпасар</div>
      </div>
    </div>
  </div>
  <div class="footer-block-2">
    <div class="footer-block-2-1">
      <div class="row mb-4 mt-5">
        <div class="col-xl-3 col-md-12">
          <div class="footer-b2-box row mb-md-4 pb-md-4 mb-4 pb-4">
            <div class="col-xl-12 col-md-12 fw-700 mb-3">Поддержка</div>
            <div class="col-xl-12 col-md-4 mb-xl-3 mb-md-3 mb-3">Центр помощи</div>
            <div class="col-xl-12 col-md-4 mb-xl-3 mb-md-3 mb-3">Информация о безопасности</div>
            <div class="col-xl-12 col-md-4 mb-xl-3 mb-md-3 mb-3">Отмена в период пандемии</div>
            <div class="col-xl-12 col-md-4 mb-xl-3 mb-3">Действия Airbnb во время пандемии</div>
            <div class="col-xl-12 col-md-4 mb-xl-3 mb-3">Доступная среда</div>
            <div class="col-xl-12 col-md-4 mb-xl-3">Сообщить о проблеме в районе</div>
          </div>
        </div>
        <div class="col-xl-3 col-md-12">
          <div class="footer-b2-box row mb-md-4 pb-md-4 mb-4 pb-4">
            <div class="col-xl-12 col-md-12 fw-700 mb-3">Сообщество</div>
            <div class="col-xl-12 col-md-4 mb-xl-3 mb-3">Airbnb.org: жилье для пострадавших от бедствия</div>
            <div class="col-xl-12 col-md-4 mb-xl-3 mb-3">Помощь афганским беженцам</div>
            <div class="col-xl-12 col-md-4 mb-xl-3">Борьба с дискриминацией</div>
          </div>
        </div>
        <div class="col-xl-3 col-md-12">
          <div class="footer-b2-box row mb-md-4 pb-md-4 mb-4 pb-4">
            <div class="col-xl-12 col-md-12 fw-700 mb-3">Прием гостей</div>
            <div class="col-xl-12 col-md-4 mb-xl-3 mb-md-3 mb-3">Стать хозяином</div>
            <div class="col-xl-12 col-md-4 mb-xl-3 mb-md-3 mb-3">AirCover: защита для хозяев</div>
            <div class="col-xl-12 col-md-4 mb-xl-3 mb-md-3 mb-3">Ресурсы для хозяев</div>
            <div class="col-xl-12 col-md-4 mb-xl-3 mb-3">Форум сообщества</div>
            <div class="col-xl-12 col-md-4 mb-xl-3">Ответственный прием гостей</div>
          </div>
        </div>
        <div class="col-xl-3 col-md-12">
          <div class="footer-b2-box row mb-md-4 pb-md-4 mb-4 pb-4">
            <div class="col-xl-12 col-md-12 fw-700 mb-3">О нас</div>
            <div class="col-xl-12 col-md-4 mb-xl-3 mb-md-3 mb-3">Пресс-центр</div>
            <div class="col-xl-12 col-md-4 mb-xl-3 mb-md-3 mb-3">Подробнее о новых функциях</div>
            <div class="col-xl-12 col-md-4 mb-xl-3 mb-md-3 mb-3">Письмо от основателей Airbnb</div>
            <div class="col-xl-12 col-md-4 mb-xl-3 mb-3">Карьера в Airbnb</div>
            <div class="col-xl-12 col-md-4 mb-xl-3 mb-3">Для инвесторов</div>
            <div class="col-xl-12 col-md-4 mb-xl-3">Airbnb Luxe</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-block-3">
    <div class="d-flex justify-content-between py-4">
      <div class="d-flex">
        <div>© 2022 Airbnb, Inc.</div>
        <div class="dot footer-b3-btn">Конфиденциальность</div>
        <div class="dot footer-b3-btn">Условия</div>
        <div class="dot footer-b3-btn">Карта сайта</div>
        <div class="dot footer-b3-btn">Реквизиты компании</div>
      </div>
      <div class="d-flex">
        <div class="footer-b3-language">Русский (RU)</div>
        <div class="footer-b3-language">₽ RUB</div>
        <div class="footer-b3-language"></div>
        <div class="footer-b3-VK"></div>
        <div class="footer-b3-Twitter"></div>
        <div class="footer-b3-instagram"></div>
      </div>
    </div>
  </div>
</footer>
