<footer class="mt-2">
  <div class="footer">
    <div class="footer__block_1 pt-5">
      <div class="fs-22 fw-600 mb-5">Посмотрите другие варианты в г. Uluwatu и поблизости</div>
      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3"><p>Canggu Beach</p></div>
        <div class="col-xl-3 col-sm-6 mb-3"><p>Seminyak Beach</p></div>
        <div class="col-xl-3 col-sm-6 mb-3"><p>Остров Ломбок</p></div>
        <div class="col-xl-3 col-sm-6 mb-3"><p>Денпасар</p></div>
      </div>
      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3"><p>Sanur</p></div>
        <div class="col-xl-3 col-sm-6 mb-3"><p>Penida Island</p></div>
        <div class="col-xl-3 col-sm-6 mb-3"><p>Гили Траванган</p></div>
        <div class="col-xl-3 col-sm-6 mb-3"><p>Bingin Beach</p></div>
      </div>
      <div class="row mb-3">
        <div class="col-xl-3 col-sm-6 mb-3"><p>Canggu Beach</p></div>
        <div class="col-xl-3 col-sm-6 mb-3"><p>Seminyak Beach</p></div>
        <div class="col-xl-3 col-sm-6 mb-3"><p>Остров Ломбок</p></div>
        <div class="col-xl-3 col-sm-6 mb-3"><p>Денпасар</p></div>
      </div>
      <div class="row justify-content-start footer__b1_breadcrumb g-0 pb-5">
        <div class="col"><p>Airbnb</p></div>
        <div class="col mx-2 arrow-right"></div>
        <div class="col "><p>Indonesia</p></div>
        <div class="col mx-2 arrow-right"></div>
        <div class="col"><p>Bali</p></div>
        <div class="col mx-2 arrow-right"></div>
        <div class="col"><p>Badung Regency</p></div>
        <div class="col mx-2 arrow-right"></div>
        <div class="col"><p>Kuta Selatan</p></div>
        <div class="col mx-2 arrow-right"></div>
        <div class="col"><p>Bukit Peninsula</p></div>
      </div>
    </div>
  </div>
</footer>
<footer>
  <div class="footer">
    <div class="footer__block_2">
      <div class="row mb-4 mt-5">
        <div class="col-xl-3 col-md-12">
          <div class="row mb-md-4 pb-md-4 mb-4 pb-4">
            <div class="col-xl-12 col-md-12 fw-700 mb-3">Поддержка</div>
            <div class="col-xl-12 col-md-4 mb-xl-3 mb-md-3 mb-3">Центр помощи</div>
            <div class="col-xl-12 col-md-4 mb-xl-3 mb-md-3 mb-3">Информация о безопасности</div>
            <div class="col-xl-12 col-md-4 mb-xl-3 mb-md-3 mb-3">Отмена в период пандемии</div>
            <div class="col-xl-12 col-md-4 mb-xl-3 mb-3">Действия Airbnb во время пандемии</div>
            <div class="col-xl-12 col-md-4 mb-xl-3 mb-3">Доступная среда</div>
            <div class="col-xl-12 col-md-4 mb-xl-3">Сообщить о проблеме в районе</div>
          </div>
        </div>
        <div class="col-xl-3 col-md-12">
          <div class="row mb-md-4 pb-md-4 mb-4 pb-4">
            <div class="col-xl-12 col-md-12 fw-700 mb-3">Сообщество</div>
            <div class="col-xl-12 col-md-4 mb-xl-3 mb-3">Airbnb.org: жилье для пострадавших от бедствия</div>
            <div class="col-xl-12 col-md-4 mb-xl-3 mb-3">Помощь афганским беженцам</div>
            <div class="col-xl-12 col-md-4 mb-xl-3">Борьба с дискриминацией</div>
          </div>
        </div>
        <div class="col-xl-3 col-md-12">
          <div class="row mb-md-4 pb-md-4 mb-4 pb-4">
            <div class="col-xl-12 col-md-12 fw-700 mb-3">Прием гостей</div>
            <div class="col-xl-12 col-md-4 mb-xl-3 mb-md-3 mb-3">Стать хозяином</div>
            <div class="col-xl-12 col-md-4 mb-xl-3 mb-md-3 mb-3">AirCover: защита для хозяев</div>
            <div class="col-xl-12 col-md-4 mb-xl-3 mb-md-3 mb-3">Ресурсы для хозяев</div>
            <div class="col-xl-12 col-md-4 mb-xl-3 mb-3">Форум сообщества</div>
            <div class="col-xl-12 col-md-4 mb-xl-3">Ответственный прием гостей</div>
          </div>
        </div>
        <div class="col-xl-3 col-md-12">
          <div class="row mb-md-4 pb-md-4 mb-4 pb-4">
            <div class="col-xl-12 col-md-12 fw-700 mb-3">О нас</div>
            <div class="col-xl-12 col-md-4 mb-xl-3 mb-md-3 mb-3">Пресс-центр</div>
            <div class="col-xl-12 col-md-4 mb-xl-3 mb-md-3 mb-3">Подробнее о новых функциях</div>
            <div class="col-xl-12 col-md-4 mb-xl-3 mb-md-3 mb-3">Письмо от основателей Airbnb</div>
            <div class="col-xl-12 col-md-4 mb-xl-3 mb-3">Карьера в Airbnb</div>
            <div class="col-xl-12 col-md-4 mb-xl-3 mb-3">Для инвесторов</div>
            <div class="col-xl-12 col-md-4 mb-xl-3">Airbnb Luxe</div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__block_3">
      <div class="d-flex flex-wrap-reverse g-0">
        <div class="col-md-12 col-xl-8 my-xl-4 mb-4">
          <div class="row justify-content-xl-start justify-content-md-center g-0">
            <div class="col-xl col-md-12 flex-grow-0 text-md-center me-xl-5 me-0"><p>© 2022 Airbnb, Inc.</p>
            </div>
            <div class="col footer__b3_btn"><p>Конфиденциальность</p></div>
            <div class="col mx-2 dot"></div>
            <div class="col footer__b3_btn"><p>Условия</p></div>
            <div class="col mx-2 dot"></div>
            <div class="col footer__b3_btn"><p>Карта сайта</p></div>
            <div class="col mx-2 dot"></div>
            <div class="col footer__b3_btn"><p>Реквизиты компании</p></div>
          </div>
        </div>
        <div class="col-xl-4 col-12 my-xl-4 mt-4">
          <div class="row justify-content-xl-end justify-content-md-center  g-0">
            <div class="col me-5 footer__b3_language fw-600"><p>Русский (RU)</p></div>
            <div class="col mx-3 fw-600 "><p>₽ RUB</p></div>
            <div class="col me-3 footer__b3_facebook "></div>
            <div class="col me-3 footer__b3_vk "></div>
            <div class="col me-3 footer__b3_twitter "></div>
            <div class="col footer__b3_instagram "></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
