@import "node_modules/bootstrap/dist/css/bootstrap.min.css";

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1100px,
        xxl: 1400px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1100px,
        xxl: 1320px
);


.box {
  font-size: 20px;
  text-align: center;
  height: 80px;
  border: 2px solid black;
  background-color: aquamarine;
}