@media (max-width:1200px) {
    .footer-b2-box {
        border-bottom:1px solid #dddddd ;
    }
}
@media (max-width:1128px) {
    .logo-airbnb {
        width:33px ;
    }
    .header-content, .body-first, .body-second, .fly-header-content, .footer-block-1-1, .footer-block-2-1, .footer-block-3 {
        padding: 0 40px;
    }
}
@media (max-width:950px) {
    .block-btn-search {
        left: 0;
        margin-left: 100px;
    }
}
@media (max-width:750px) {
    header, .block-fly-header, .block-fly {
        display: none;
    }
    .block-place-of-apartments {
        display: none;
    }
    .mini-header {
        display: block;
    }
    .body-first, .body-second, .fly-header-content {
        padding: 0;
    }
    .footer-block-1-1, .footer-block-2-1, .footer-block-3 {
        padding: 0 20px;
    }
    .block-photo {
        display: none;
    }
    .mini-block-photo, .block-place-of-apartments_light{
        display: block;
    }
    .block-constant {
        flex: 0 1 100%;
        padding: 0 20px;
    }
    .constant-block-1_name {
        font-size:16px;!important;
        line-height:20px;!important;
    }
}