@import "mixin_style";

.star {
  font-weight:600;
  &:before {
    @include img_before(0,0,0 0.3rem -0.05rem 0 ,12px,12px);
    background: url("../../assets/Image/star.svg") center center no-repeat;
  }
}
.reviews {
  font-weight:600;
  background: white;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}
.master {
  color:$text_color;
  &:before {
    @include img_before(0,0,0 0.3rem -0.05rem 0 ,12px,12px);
    background: url("../../assets/Image/patch-check.svg") center center no-repeat;
  }
}
.location {
  color:$text_color;
  font-weight:600;
  background: white;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}
.btn_repost {
  border: none;
  margin:0 1rem 0 0;
  background-color:white;
  padding: 5px 10px;
  border-radius: 7px;
  cursor: pointer;
  &:before {
    @include img_before(0,0,0 0.3rem -0.2rem 0 ,16px,16px);
    background: url("../../assets/Image/repost.svg") center center no-repeat;
  }
  &:hover {
    background-color: $bc_color;
  }
}
.btn_save {
  border: none;
  background-color:white;
  padding: 5px 10px;
  border-radius: 7px;
  cursor: pointer;
  &:before {
    @include img_before(0,0,0 0.3rem -0.3rem 0 ,16px,16px);
    background: url("../../assets/Image/heart.svg") center center no-repeat;
  }
  &:hover {
    background-color: $bc_color;
  }
}

.block-place-of-apartments_light {
  display: none;
}
