@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "mixin_style";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  color: #222222;
  /*outline: solid 1px #eee;*/
}
.header__content, .body__photo, .footer {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 5.75rem;
  position: relative;
}
/*Общие стили для сайта*/
.fs-10 {
  font-size:10px;
  line-height:12px;
}
.fs-12 {
  font-size:12px;
  line-height:16px;
}
.fs-16 {
  font-size:16px;
  line-height:20px;
}
.fs-16-fw-24 {
  font-size:16px;
  line-height:24px;
}
.fs-22 {
  font-size:22px;
  line-height:26px;
}
.fs-26 {
  font-size:26px;
  line-height:30px;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.underline {
  text-decoration: underline;
}
.color-light {
  color: #717171
}
.br-t {
  border-top:1px solid #dddddd;
}
.br-b {
  border-bottom:1px solid $br_color;
}
.btn_arb {
  border: none;
}



