<div class="block-photo">
  <div class="d-flex">
    <div class="photo-col-1 pe-1">
      <img alt="" src="Photo/3.webp">
    </div>
    <div class="photo-col-2">
      <div class="px-1 pb-1" >
        <img alt="" src="Photo/2.webp">
      </div>
      <div class="px-1 pt-1">
        <img alt="" src="Photo/5.webp">
      </div>
    </div>
    <div class="photo-col-3">
      <div class="ps-1 pb-1">
        <img alt="" src="Photo/4.webp">
      </div>
      <div class="ps-1 pt-1">
        <img alt="" src="Photo/1.webp">
      </div>
    </div>
  </div>
</div>

